body {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}
.wrapper {
    min-width:800px;
    max-width:1600px;
    margin:0px auto 0px auto;

}

.flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.flex-item {
    display: inline-block;
}

.div1 {
    display: grid;
    align-items: center;
    height: 200px;
    background-color: lightblue;
    /*padding-top: 50px;*/
    border-radius: 100px;
} 

.nav1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav1 h1 {
    text-align: left;
    font-size: 200%;
}
nav a {
    white-space: nowrap;
    display: block;
    color: black;
    text-decoration: none;
    text-align:center;
    padding: 10px 15px;
}