.header-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 92%;
}

.header-flex-item-logo {
    font-size: 150%;
    margin-right: 25px;
}

.header-flex-item {
    display: inline-block;
    font-size: 130%;
    margin-right: 25px;
}

.header-container {
    display: grid;
    align-items: center;
    height: 125px;
    background-color: lightblue;
    /*padding-top: 50px;*/
    border-radius: 100px;
} 

.header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-nav h1 {
    text-align: left;
    font-size: 200%;
    font-weight: bold;
}

.header-nav a {
    white-space: nowrap;
    display: block;
    color: black;
    text-decoration: none;
    text-align:center;
    padding: 10px 15px;
}

.header-flex-item-search {
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 100px;
    background: #f6f6f6;
}

.search-input {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.header-zoek {
    text-align: right;
}
