.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.action-button {
    background-color: #dcf2f1;
    border: solid #365486 2px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -2px;
    transition: background-color 0.5s ease-out;
}

.text-input {
    margin-top: 2px;
    padding: 7px 5px 7px 5px;
    width: 30%;
    min-width: 150px;
    border-radius: 10px;
}

.submit {
    border: none;
    background-color: #365486;
    color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    width: 60%;
    transition: 0.5s ease-out;
}

.submit:hover {
    background-color: #0f1035;
    transform: scale(1.05);
}

.action-button:hover {
    background-color: #7fc7d9;

    overflow: hidden;
}

.action-button[selected] {
    font-weight: bold;
    text-decoration: underline;
}

.action-button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.action-button:last-child {
    margin-bottom: 0; /* Removes negative margin from the bottom of the last button */
    border-bottom-left-radius: 10px; /* Round bottom-left corner */
    border-bottom-right-radius: 10px; /* Round bottom-right corner */
}

.action-select {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.info {
    height: min-content;
    background-color: #dcf2f1;
    border: #365486 solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: bold;
}

.info-text {
    margin-bottom: 10px;
}

.info-text:last-child {
    margin-bottom: 0;
}

.submit-div {
    width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recept-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recept-title {
    font-size: 120%;
}

.info-button {
    background-color: #365486;
    color: white;
    padding: 7px;
    margin: 5px;
    margin-left: 0;
    margin-right: 5px;
    border-radius: 7px;
}

.info-button:first-child {
    margin-left: 0;
}

.border {
    background-color: #7fc7d9;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-out;
}

.border:hover {
    box-shadow: 2px 2px 2px black;
    transform: scale(1.005);
}

img {
    float: right;
    width: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 1 px black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.addrecept {
    text-decoration: none;
    font-size: 130%;
    padding: 10px;
    margin-right: auto;
    background-color: #365486;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease-in-out;
}

.addrecept:hover {
    transform: scale(1.05);
    background-color: #0f1035;
    color: #fff;
}

.addrecept:visited {
    color: #fff;
}


.delete-submit {
    font-size: 2vw;
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    width: 60%;
    transition: 0.5s ease-out;
}

.delete-submit:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.delete-p{
    text-align: center;
    padding-bottom: 10px;
}

.delete-h2 {
    font-size: 2vw;
    color: #c0392b;
    margin-bottom: 10px;
}

.delete-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}