.results {
    height: min-content;
    background-color: #dcf2f1;
    border: #365486 solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-title{
    align-self: center;
    font-size: 150%;
    font-weight: bold;
    padding: 10px;
}

.result {
    margin: 10px 0px;
    margin-left: 10px;
    margin-right: auto;
    padding: 5px;
    background-color: #365486;
    color: #fff;
}