.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    height: min-content;
    background-color: #DCF2F1;
    border: #365486 solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 87%;
    margin: 15px;
}

h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

ul {
    margin-left: 10px;
    list-style-type: disc;
    padding-bottom: 5px;
}

ul ul {
    list-style-type: square;
}