.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90%;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.ingr-tags-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-bottom: 15px;
}
.ingr-tags {
    overflow: hidden;
    background-color: #dcf2f1;
    border-radius: 20px;
    width: 100%;
    height: min-content;
    padding: 15px;
    padding-bottom: 0;
    white-space: nowrap;
}
.image {
    float: left;
    margin-left: 0px;
    height: 400px;
    width: 700px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
}
.scrollmenu {
    width: 100%;
    overflow: scroll;
    text-align: start;
    padding-bottom: 15px;
}

.scrollmenu p {
    display: inline-block;
    text-align: center;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border-radius: 20px;
    width: auto;
    height: auto;
    white-space: nowrap;
    background-color: #bdc3c7;
    margin-right: 10px;
}

h1 {
    font-size: 32px;
}
.title-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    margin-top: 10px;
}
.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}
.creator {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: baseline;
    margin-top: 5px;
    margin-bottom: 15px;
}
.info-box {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.title h1 {
    align-self: flex-start;
}

.scrollmenu-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}

.scrollmenu-title {
    font-size: 22px;
    padding-bottom: 10px;
}

.blue-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-bottom: 15px;
}

.bereiding-div {
    align-items: baseline;

    background-color: #dcf2f1;
    border-radius: 20px;
    width: 100%;
    height: min-content;
    padding: 15px;
}

.bereiding-div p {
    text-align: left;
}

.bereiding-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.review-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    overflow: hidden;
    background-color: #dcf2f1;
    border-radius: 20px;
    width: 100%;
    height: min-content;
    padding: 15px;
    white-space: nowrap;

}

.review-title {
    font-size: 22px;
}

.review {
    overflow: auto;
    white-space: nowrap;
}
.review p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
