.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90%;
}

.centered {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.ingr-tags-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.ingr-tags {
    overflow: hidden;
    margin-top:15px;
    background-color: #DCF2F1;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space:nowrap;
}
.image {
    margin: 15px; 
    margin-left: 0px;
    height: 400px; 
    width: 700px; 
    object-fit: cover; 
    border-radius: 30px;
}
.scrollmenu {
    width: 100%;
    overflow: scroll;
    text-align: start;
}

.scrollmenu p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}
.title-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    margin-top: 10px;
}
.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}
.creator {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space:nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.maaltijdtype {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space:nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.Bereidingstijd {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space:nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.Moeilijkheid {
    background-color: #bdc3c7;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    white-space:nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.title h1 {
    align-self:flex-start;
}

.scrollmenu-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;

}

.scrollmenu-title {
    font-size: 22px;
}

.bereiding-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}
.recept-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}


.bereiding-title {
    font-size: 22px;
}
.bereiding {
    overflow: auto;
    white-space: nowrap;
}
.bereiding p {  
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.review-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}

.review-title{
    font-size:22px;
}

.review {
    overflow: auto;
    white-space: nowrap;
}
.review p {  
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}