.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCF2F1;
    border: 2px solid #365486;
    box-shadow: 1px 1px 2px rgb(4, 1, 29);
    border-radius: 30px;
    padding: 15px;
    margin: 50px 0px;
}
form {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.formnavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    padding: 15px;
}
.tweededeel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}
.bereiding {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    font-weight: bold;
}
.file {
    margin-top: 5px;
    margin-bottom: 10px;
}
.text{
    width: 250px;
    height: 30px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.textarea {
    width: 500px;
    height: 100px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.select1, .text2 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.select2 {
    width: 50px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitbutton, .button{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #365486;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    transition: .5s ease-out;
}
.button:hover {
    background-color: #0F1035;
    transform: scale(1.05);
}
.submitbutton:hover {
    background-color: #0F1035;
    transform: scale(1.05);
}
h2 {
    margin: 0;
    padding: 15px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}
label {
    margin: 0;
    padding-bottom: 5px;
}

.error {
    display: none;
    align-self: center;
    color:red;
    font-weight: bold;
    font-size: 150%;
}